:root {
  --white-color: #ffffff;
  --black-color: #000000cc;
  --bg-color: #fafafa;
  --grey-color: #808080;
  --red-color: #dd3327;
  --blue-100-color: rgb(63, 138, 209);
  --yellow-100-color: rgb(245, 245, 220);
  --pink-100-color: rgb(252, 209, 219);
  --brown-100-color: rgb(226, 194, 143);
  --green-100-color: rgb(122, 189, 181);
  --green-300-color: #96d100;
  --black-100-color: #333333;
  --poppins_font: "Poppins", sans-serif;
  --Montserrat_font: "Montserrat", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.container_fluid {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.container {
  max-width: 1560px;
  margin: 0 auto;
  padding: 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--poppins_font);
  margin: 0;
}

p,
li,
span,
a {
  font-family: var(--Montserrat_font);
}

.customBtn {
  background: var(--white-color);
  min-width: 120px;
  border: 0;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 12px 6px;
  color: var(--black-color);
  cursor: pointer;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.flex1 {
  flex: 1;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background: #fff;
  font-size: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-prev:before,
.slick-next:before {
  content: "";
  background-size: cover;
  width: 25px;
  height: 25px;
  display: block;
}

.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
  background: #ffffffad;
}

.slick-prev:before {
  background-image: url(../Images/arrowL.svg);
}

.slick-next:before {
  background-image: url(../Images/arrowR.svg);
}

.slick-prev.slick-arrow {
  left: 20px;
}

.slick-next.slick-arrow {
  right: 20px;
}

.slick-dots li button:before {
  font-size: 12px;
}

.slick-dots {
  bottom: -50px;
}

.slick-dotted.slick-slider {
  margin-bottom: 70px;
}

.main_heading {
  font-size: 48px;
  font-weight: 600;
  color: var(--black-100-color);
  line-height: normal;
}

.main_para {
  font-size: 18px;
  font-weight: 400;
  color: var(--grey-color);
  margin-bottom: 0;
}

.space_xy {
  padding-block: 60px;
}

.space_t {
  padding-top: 60px;
}

.space_b {
  padding-bottom: 60px;
}

.text_center {
  text-align: center;
}
